@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

body {
  background: url(/BG.png);
  background-size: auto;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'Island Moments';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/IslandMoments-Regular.woff') format('woff');
}

@theme {
  --font-instrument: "Instrument Sans", sans-serif;
  --font-halant: "Halant", serif;
  --font-island-moments: "Island Moments", cursive;
}